
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto',sans-serif;
}

/* Início */

body{
    background-color:  rgb(82 169 196);
    font-family: 'Roboto',sans-serif;
    flex-wrap: wrap;
}

/*Cabeçalho*/

header .cabecalho{
    background: rgba( 130, 43, 43, 0.5 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 15px );
    -webkit-backdrop-filter: blur( 15px );
    border-radius:0 0 8px 8px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    color: rgb(216 225 231);
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    z-index: 2;
}

.cabecalho .caixa_logo{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0;
}



.caixa_logo img{
    margin: 0;
    width: 8vw;
}

.cabecalho div {
    display: flex;
    flex-direction: row;
    gap: 50px;
    margin-right: 30px;
}
.cabecalho div a{
    color: rgb(216 225 231);
    font-weight: bold;
    
}

/* Home, Curiosidades e Vídeo */

.principal{
    display: flex;
    flex-direction:column;
    margin-bottom: 80px;
}

.principal #home{
    background: url('../img/MM.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    height: 120vh;
}


.principal h2{
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 35px;
    color: rgb(255 254 254);
    font-weight: bold;
}

.principal .box{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-bottom: 80px;
    flex-wrap: wrap;
}

.box .card{
    width: 300px;
    height: 640px;
    text-align: center;
    background: rgb(255,255,255);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 15px );
    -webkit-backdrop-filter: blur( 15px );
    border-radius: 31px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.box .card .imgs{
    width: 100%;
    height: 70%;
    border-radius: 31px 31px 0 0;
}

.box .card p{
    text-align:justify;
    padding: 10px;
}
.parallax{
    background-image: url("../img/prlx.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    height: 120vh;
}

.caixaVideo{
    display: flex;
    justify-content: center;
    align-items: center;   
    width: 100%;
    height: auto;
}


.video iframe{
    width: 63.9vw;
    height: 80vh;
    border: 2px solid rgba(71, 177, 207, 1);
    border-radius: 31px;
    box-shadow: 5px 5px rgba(71, 177, 207, 1);
}

/* Contato */

.rodape{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    background: rgba( 229, 42, 42, 0.15 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 20px );
    -webkit-backdrop-filter: blur( 20px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    width: 100%;
    height: auto;
    gap: 30px;

}

.rodape h2{
    margin-left: 30px;
    margin-top: 1vh;
    margin-right: 5vh;
    color: rgb(216 225 231);
    font-weight: bold;
}

.rodape a{
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1vh;
}

.rodape a img{
    height: 7vh;  
    margin-right: 5px;
    margin-top: 1vh;
    border-radius: 50%;
}

/* Responsividade */
/* 350px a 570 */

@media screen and (max-width:570px) {


    header .cabecalho{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .cabecalho h2{
        display: contents;
        margin-bottom: 5px;
    }

    .cabecalho div{
        margin-left:2.0vw;
        margin-right: 0;
    }

    .principal{
        margin-bottom: 40px;
    }

    .principal #home{
        background: url('../img/WW.jpg');
        background-size: cover;
        background-repeat: repeat;
        background-position: center;
        background-attachment: fixed;
        width: 100%;
        height: 80Vh;
        margin-bottom: 10px;
    }
    
    .parallax{
    background-image: url("../img/3ZGefyBJm5eRvrOURHDQThGJmWx.jpg");
    background-attachment: fixed;
    background-position:  center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 120vh;
    }


    .video iframe{
        width: 60vw;
        height: 40vh;
    }
    
    .rodape{
        display: flex;
        align-items: center;
        margin-top: 0px;
    }
}


/* Responsividade */
/* 571px a 1100*/

@media screen and (min-width: 571px) AND (max-width:1200px) {

    header .cabecalho{
        display: flex ;
        flex-direction: row;
    }

    .principal #home{
        width: 100%;
        height: 100vh;
        background-image: url('../img/mmmmmmmmmmmjpg.jpg');
        background-attachment: fixed;
        background-size:cover;
        background-repeat: no-repeat;
        margin-bottom: 2vh;    
    }

    .parallax{
        background-image: url("../img/3ZGefyBJm5eRvrOURHDQThGJmWx.jpg");
        background-attachment: fixed;
        background-size: cover;
        background-repeat: no-repeat;
        height: 120vh;
    }
    
    .video iframe{
        width: 65vw;
        height: 50vh;
    }
   
}
